In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [3]:
df = pd.read_csv("../notebooks/processed_clean.csv")

df.head()

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,days_since_last_review,room_type_Private room,room_type_Shared room,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island
0,2787,40.64749,-73.97237,149,1,9,0.21,6,365,2588.0,True,False,True,False,False,False
1,2845,40.75362,-73.98377,225,1,45,0.38,2,355,2374.0,False,False,False,True,False,False
2,4632,40.80902,-73.94190,150,3,0,0.00,1,365,2375.0,True,False,False,True,False,False
3,4869,40.68514,-73.95976,89,1,270,4.64,1,194,2329.0,False,False,True,False,False,False
4,7192,40.79851,-73.94399,80,10,9,0.10,1,0,2557.0,False,False,False,True,False,False

In [4]:
# Separate features and target
X = df.drop(columns=["price"])
y = df["price"]

X.shape, y.shape

((47684, 15), (47684,))

In [5]:

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape

((38147, 15), (9537, 15))

In [6]:

# Train model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predictions
y_pred = lr.predict(X_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

mae, rmse

(52.50890759883756, np.float64(83.22744027303989))

In [7]:

rf = RandomForestRegressor(
    n_estimators=200,
    max_depth=None,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

rf_pred = rf.predict(X_test)

rf_mae = mean_absolute_error(y_test, rf_pred)
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_pred))

rf_mae, rf_rmse

(44.555040081986455, np.float64(73.41743364759887))

In [8]:
from xgboost import XGBRegressor

xgb = XGBRegressor(
    n_estimators=300,
    learning_rate=0.05,
    max_depth=8,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

xgb.fit(X_train, y_train)

xgb_pred = xgb.predict(X_test)

xgb_mae = mean_absolute_error(y_test, xgb_pred)
xgb_rmse = np.sqrt(mean_squared_error(y_test, xgb_pred))

xgb_mae, xgb_rmse

(43.51667785644531, np.float64(71.90066118002672))